<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="myuis.css">
    <title>Add Student</title>
</head>

<body>

      <header>

        <a href="/landing" class="logo">HEDClass</a>
        <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

          <a href="/dashboard" class="button">Dashboard</a>
          <a href="/studentmgmt" class="button">Student Management</a>
          <% } %>
            <% if(userAccessLevel==="admin" ) { %>
              <a href="/officermgmt" class="button"> Officer Management </a>
              <% } %>
                <% if(userAccessLevel==="officer(edit)" || userAccessLevel === "admin" ) { %>
                  <a href="/coursemgmt" class="button"> Course Management</a>
                  <%}%>
                    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                      userAccessLevel==="admin" ) { %>
                      <a href="/logout" class="button">Logout</a>
                      <% } %>

                        <button> ( logged in as <Strong>
                            <%= userAccessLevel %>
                          </Strong>) </button>
      </header>


    <p>
        To add a Student record, please populate all required fields below
    </p>
    <hr>
    <% if(userAccessLevel==="officer(edit)" ) { %>

        <div class="studentForm">
            <form action="/addstudent" method="POST">
                <div>
                    First Name: <input name="studentFirstName" required>
                </div>
                <div>
                    Last Name: <input name="studentLastName" required>
                </div>
                <div>
                    Email: <input name="studentEmail" required>
                </div>
                <div>
                    Graduation Year: <select name="graduationYear" required>
                        <option value="25/26"> 25/26 </option>
                        <option value="26/27"> 26/27</option>
                        <option value="27/28"> 27/28</option>

                    </select>

                </div>
                <div>
                    Course: <select name="studentCourseName" required>
                        <% courses.forEach ((course)=> {%>
                            <option value="<%= course.id%>">
                                <%= course.title%>
                            </option>
                            <%}); %>
                    </select>
                </div>

                <div>
                    <button>Add student</button>
                </div>
            </form>
        </div>

        <% } %>




</body>

</html>