/*
.loginForm{

    padding: 100px 50px;
    margin: 125px 150px;

}


.officerForm{
    padding: 0;
    border: 0;

}

.header{

*/

.container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    padding: 10px;
}

