<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <title>Course Management</title>
</head>

<body>

  <header>
    <a href="/landing" class="logo">HEDclass</a>
    <a href="#" class="button">Dashboard</a>
    <a href="/studentmgmt" class="button">Student Management</a>
    <a href="/officermgmt" class="button"> Officer Management </a>
    <a href = "/coursemgmt" class="button"> Course Management</a>
    <a href="/logout" class="button">Logout</a>

  </header>
  <h3> Courses</h3>
         <p class="h5">
            Data:
        </p>
        <hr>
       
    <table>
    <tbody>      
    <%courses.forEach((course)=>{ %>
    <tr>
 
    <td> Modules: <%= course.moduleName %> </td>
    <td> Course Name: <%= course.title %></td>
    <td> Course Credit Worth: <%= course.creditValue %></td>
    <td> Module Year: <%= course.year %></td>
    </tr>
 <% }); %>
  </tbody>
</table>
</body>

</html>