<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <title>Course Management</title>
</head>

<body>

  <header>
    <div class="brandedLogo">
      <img src="/media/logo2.jpg" id="logo" />
    </div>
    <a href="/landing" class="logo">HEDClass</a>
    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

      <a href="/dashboard" class="button">Dashboard</a>
      <a href="/studentmgmt" class="button">Student Management</a>
      <% } %>
        <% if(userAccessLevel==="admin" ) { %>
          <a href="/officermgmt" class="button"> Officer Management </a>
          <a href="/coursemgmt" class="button"> Course Management</a>
          <% } %>
            <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>
              <a href="/resultsmgmt" class="button"> Results Management</a>
              <% } %>
                <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                  userAccessLevel==="admin" ) { %>
                  <a href="/logout" class="button">Logout</a>
                  <% } %>

                    <button> ( logged in as <Strong>
                        <%= userAccessLevel %>
                      </Strong>) </button>
  </header>

  <h3> Courses</h3>
  <p class="h5">
    Data:
  </p>
  <hr>

  <table>
    <tbody>
      <%courses.forEach((course)=>{ %>
        <tr>

          <td> Course Name: <%= course.title %>
          </td>

        </tr>
        <% }); %>
    </tbody>
  </table>

  <p>To create a new course please fill out all fields...</p>

  <div class="courseForm">
    <form action="/addcourse" method="post">
      <div>
        Course Title: <input name="courseTitle" required>
      </div>

      <div>
        Module 1 to include:
        <input type="text" id="moduleName1" name="">
      </div>
      <div>
        Module 2 to include:
        <input type="text" id="moduleName2" name="">
      </div>
      <div>
        Module 3 to include:
        <input type="text" id="moduleName3" name="">
      </div>
      <div>
        Module 4 to include:
        <input type="text" id="moduleName4" name="">
      </div>
      <div>
        Module 5 to include:
        <input type="text" id="moduleName5" name="">
      </div>
      <div>
        Module 6 to include:
        <input type="text" id="moduleName6" name="">
      </div>
      <div>
        Module 7 to include:
        <input type="text" id="moduleName7" name="">
      </div>
      <div>
        Module 8 to include:
        <input type="text" id="moduleName8" name="">
      </div>
      <div>
        Module 9 to include:
        <input type="text" id="moduleName9" name="">
      </div>
      <div>
        Module 10 to include:
        <input type="text" id="moduleName10" name="">
      </div>
      <div>
        Module 11 to include:
        <input type="text" id="moduleName11" name="">
      </div>
      <div>
        Module 12 to include:
        <input type="text" id="moduleName12" name="">
      </div>
      <div>
        Standard Classification Rules? <br>
        <input type="radio" id="isStandard_yes" name="isStandard" value="yes">
        <label for="yes"> Yes</label><br>
        <input type="radio" id="isStandard_no" name="isStandard" value="no">
        <label for="no"> No</label><br>


      </div>

      <div>
        <button>Add Course</button>
      </div>
    </form>
  </div>

</body>

</html>