<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="myuis.css">
    <title>HedClass</title>

  
</head>

<body>

    

    <form action="/login" method="POST" class="loginForm">

    <legend>HedClass Login</legend>
    <p> Please enter your login details</p>
    <label for="username">Username</label>
    <input type="text" id="userEmail" placeholder="user email" input name ="userEmail"/>
    <label for="password">Password</label>
    <input type="password" id="userPassword" placeholder="user password" input name ="userPassword"/>
    <input type="submit" value="Login" >


</form>
</body>

</html>